*{
    margin: 0;
    padding: 0;
    justify-content: center;
}
body{
    background: #55122b;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
}
.outer{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 150px;
width: 200px;
}
.face{
    background: #ffb7b9;
    width: 150px;
    height: 150px;
    border-radius: 61% 61% 76% 76%;
}
.ear{
    background: linear-gradient(90deg,#ffb7b9,#ffb7b9);
    height: 42px;
    width: 24px;
    position: absolute;
    top: 30%;
    left: -6%;
    border-radius: 100% 54% 71% 207%; 
}
.ear::after{
content: '';
position: absolute;
width: 5px;
height: 15px;
background: #c7716c;
border-radius: 34% 79% 50% 46%;
left: 38%;
top: 29%;
}
.ear1{
    background: linear-gradient(-90deg,#ffb7b9,#ffb7b9);
    height: 42px;
    width: 24px;
    position: absolute;
    top: 30%;
    right: 19%;
    border-radius: 54% 100% 207% 71%; 
}
.ear1::after{
content: '';
position: absolute;
width: 5px;
height: 15px;
background: #c7716c;
border-radius: 79% 34% 46% 50%;
right: 38%;
top: 29%;
}
.hair{
    position: absolute;
    top: -7%;
    left: -4%;
    width: 165px;
    height: 155px;
    background-color: #f05201;
    border-radius: 50px;
    z-index: -1;
}
.hair-puff1{
    position: absolute;
width: 45px;
height: 45px;
z-index: 5;
background: #f05201;
border-radius: 50%;
    top: -4%;
    left: 16%;
}
.hair-puff2{
    position: absolute;
width: 40px;
height: 40px;
z-index: 5;
background: #f05201;
border-radius: 50%;
 top: -7%;
 left: 32%;
}
.move-area{
    width: 100vw;
    height: 100vh;
    padding: 10% 45%;
}
.eye-box{
    position: absolute;
    top: 30%;
    left: -6%;
}
.eye{
   position: relative;
   display: inline-block;
   border-radius: 50%;
   height: 30px;
   width: 30px;
   background: #ccc;
   margin-left: 36px; 
}
.eye:after{
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #c1153e;
    border-radius: 50%;
    content: "";
}